@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:wght@100;300&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.main
{
   width:80%;
   margin: 2rem;
}

header{
    margin: 5px;
    width: 90%;
    position: fixed;
    background-color: #fffef2;   
}
.navbar{
    display: flex;
    justify-content: space-around;
}

#logo
{
    font-size: 30px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

li{
    padding:10px;
    margin: 2px;
}

li:hover
{
    border-bottom: 2px solid #000000;
}

a{
    text-decoration: none;
    color: black;
}
.d
{
    font-size: 30px;
    background-color:#f94a3d;
    color: white;
    padding:1px 10px;
    border-radius: 5px;
}

.left-nav{
    display: flex;
    justify-content: space-around;
    max-height: 45px;
}

.search-bar{
    background-color: rgb(248, 246, 243);
    border: 1px solid #ded9d9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#search
{
    height:35px;
    margin:auto;
    border:none;
    background-color: transparent;
}

#search:hover{
    border: none !important;
    outline: none !important;
}

#search:focus{
    outline: none;
}

.search-bar img{
    width:20px;
    height:20px;
    margin: auto;
    cursor: pointer;
}

.btn{
    
    font-size: 15px;
    padding: 15px;
    background-color: #f94a3d;
    color: #ded9d9;
    border: none;
    outline: none;
    border-radius: 10px;
}

.cart
{
    margin: auto 15px;
}

.content{
    margin: 5rem 2rem;
    width: 80%;
    display: flex;
}

.section-1{
    width: 50%;
}
.tag-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    background-color: #f4c3bf;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1rem;
}

.tag-line img{
    width: 30px;
    height: 30px;
    margin: 0px -10px 0px 5px;
    background-color:white;
    border-radius: 50%;
    padding: 5px;
}

.heading{
    margin-top: 0;
    font-size: 70px;
}

.red-text{
    font-size: 70px;
    color: #f94a3d;
}

.poster-1
{
    width:40%;
    height: 100%;
    margin-left: 3rem;

}


